.body{
    font-family: 'Ubuntu', sans-serif;
    color: #06062e;
    font-size: 18px;

}

h1, h2, h3{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.titulo{
    font-size: 35px;
    color: red;
}

.banner {
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('images/avion.jpg');
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;
}

.banner h1 {
  color: beige;
  font-size: 50px;
  margin: 0;
}

.banner p {
  color: white;
  font-size: 24px;
}

.button-blue {
  background-color: #5bd4a2;
  color: black;
  padding: 16px 48px;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  transition: .3s;
}
.button-blue:hover {
  background-color: #383838;
  color: rgb(93, 248, 196);
}

a {
  color: #1A48E3;
  font-weight: bold;
  text-decoration: none;
  transition: .3s;
}

a:hover {
  color: #CE2FAE;
}

.container {
  width: 800px;
  margin: auto;
}

.cards {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 7px 14px;
    grid-template-areas:
      ". . ."
      ". . .";
}

.card-white {
  background: white;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  border-radius: 4px;
  width: 200px;
  text-align: center;
  padding: 24px;
  margin: 8px;
}

.card-white img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 4px;
}

.button-orange{
  background-color: #ffb168;
  color: black;
  padding: 8px 24px;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  transition: .3s;
  margin: 0;
}

.button-orange:hover{
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
  background-color: #995312;
  color: rgb(231, 231, 231);
}

.card-white h3 {
  margin-bottom: 0;
}

/* On mouse-over, add a deeper shadow */
.card-white:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.card-container {
  padding: 2px 16px;
}

.footer {
  background: #404042;
  text-align: center;
  padding: 24px 0;
}

.footer p {
  color: white;
}


    /* RESPONSIVE */

    /* Cards media queries */
@media (max-width: 800px) {
  .cards {
    grid-template-columns: 1fr;
  }
  
  .card-white {
    width: auto;
  }
}
  
/* Container media queries */
@media (min-width: 500px) {
  .container {
    width: 400px;
  }
}


@media (min-width: 800px) {
  .container {
    width: 600px;
  }
}

@media (min-width: 1000px) {
  .container {
    width: 800px;
  }
}




